@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --dark: #131312;
    --pure: #ffffff;
    --bg1: #111727;
    --bg2: #0b1320;
    --bg3: #111727;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100%;
    font-family: Poppins, sans-serif;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    height: 95%;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--pure);
    overflow: hidden;
}

header .menu-side,
.song-side {
    position: relative;
    width: 25%;
    height: 90%;
    background-color: var(--bg1);
    box-shadow: rgb(9, 15, 31) 5px 0px 2px;
    color: var(--pure);
}

header .menu-side h1 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 15px 0px 0px 20px;
}

header .song-side {
    width: 75%;
    background-color: var(--bg2);
}

header .player {
    width: 100%;
    height: 10%;
    box-shadow: rgb(9, 15, 31) 0px 3px 8px;
    background: var(--bg3);
}

.menu-side .playlist {
    margin: 40px 0px 15px 20px;
}

.playlist h4 {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 10px;
    color: rgb(76, 82, 98);
    display: flex;
    align-items: center;
    transition: 0.3s linear;
}

.playlist h4:hover {
    color: var(--pure);
    cursor: pointer;
}

.playlist span {
    position: relative;
    margin-right: 35px;
}

.playlist span::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    top: -4px;
    border: 2px solid #4c5262;
    border-image: initial;
    border-radius: 50%;
    transition: 0.3s linear;
}

.playlist h4:hover span::before {
    border: 2px solid var(--pure);
    cursor: pointer;
}

.playlist h4 .bi {
    display: none;
}

.playlist .active {
    color: #36e2ec;
}

.playlist .active span {
    display: none;
}

.playlist .active .bi {
    display: flex;
    margin-right: 20px;
}

.menu-side .menu-song {
    width: 100%;
    height: 61.5%;
    /* border: 1px solid var(--pure); */
}

.menu-song li {
    list-style-type: none;
    margin: 10px 0px 5px 0px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}

.menu-song li:hover {
    background-color: rgb(105, 105, 170, 0.1);
}

.menu-song li span {
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #4c5262;
}

.menu-song li img {
    height: 39px;
    width: 39px;
    margin-left: 25px;
}

.menu-song li h5 {
    font-size: 0.85rem;
    margin-left: 15px;
}

.menu-song li h5 .singer {
    font-size: 0.7rem;
    color: #4c5262;
}

.menu-song li .bi {
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 1rem;
}

header .player {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

header .player .wave {
    width: 39px;
    height: 39px;
    border: 1px solid var(pure);
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 7px;
}

.player .wave .wave1 {
    width: 3px;
    height: 10px;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    background: #36e2ec;
    animation: wave 1s linear infinite;
    /*inset*/
}

.wave .wave1:nth-child(2) {
    height: 15px;
    animation-delay: 0.3s;
}

.wave .wave1:nth-child(3) {
    height: 7px;
    animation-delay: 0.6s;
}

/* javascript class wave */
.player .active2 .wave1 {

    animation: wave 1s linear infinite;
}

.wave .active2 .wave1:nth-child(2) {
    animation-delay: 0.3s;
}

.wave .active2 .wave1:nth-child(3) {
    animation-delay: 0.6s;
}


@keyframes wave {
    0% {
        height: 10px;
    }

    50% {
        height: 15px;
    }

    100% {
        height: 10px;
    }
}

.player img {
    height: 39px;
    width: 39px;
    margin-right: 10px;
}
.player h5{
    width: 130px;
    font-size: 0.8rem;
    color: var(--pure);
    line-height: 1.6;
}
.player h5 .singer{
    font-size: 0.7rem;
    color: #4c5262;
}
.player .icon{
    font-size: 1.3rem;
    color: var(--pure);
    margin: 0px 20px 0px 40px;
}
.player .icon .bi{
    cursor: pointer;
    outline : none;
}
.player .icon .bi:nth-child(2){
    border: 1px solid  rgb(105, 105, 170, 0.1);
    border-radius: 50%;
    padding-inline-start: 1px 3px 0px 6px;
    margin: 0px 5px ;
    transition: 0.3s linear;
}